//variables globales
$mainColor: black;
$secondaryColor: rgb(229, 223, 217);
$white: rgb(254, 251, 251);
$black: rgb(15, 15, 15);

// fonts

$mainFont:'Montserrat', sans-serif;


//sizes

$textSm: 1,0em;
$textMd: 1,1em;
$textLg: 1,2em;
$textXL: 1,4em;


