.viplist{
    background: linear-gradient( to top, rgb(219, 183, 121), white);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
    button{
        border: none;
        padding: 10px;
        color: orange;
        background-color: black;
        width: 10px auto;
        margin: 10px;
        border-radius: 3px;
    } 
    button:hover{
        cursor: pointer;
    background-color: gray;
    }
    label{
        display: flex;
        flex-direction: column;
        margin: 5px;
        line-height: $textLg;
    }
     input{
        padding: 10px;
        line-height: $textLg;
        border-radius: 3px;
        border: 1px;
     }
}
